.ItemDetails {
  width: 100%;
  text-align: center;
}

.ItemDetails > img {
  width: 350px;
  height: auto;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}